/*
  * Copyright (c) 2020 The ZMK Contributors
  *
  * SPDX-License-Identifier: MIT
  */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer0 {
            bindings = <
&none  &kp Q  &kp W  &kp E    &kp R      &kp T            &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt LEFT_GUI F  &kp G  &kp Z  &kp X
&none  &kp A  &kp S  &kp D    &kp F      &kp G            &none           &none               &kp P           &kp O  &kp I  &kp U
&none  &kp Z  &kp X  &kp C    &kp V      &kp B            &kp SLASH       &kp DOT             &kp COMMA       &kp M  &kp N  &lt 3 TAB
                     &kp ESC  &kp SPACE  &kp BACKSPACE    &none
            >;
        };

        layer1 {
            bindings = <
&none            &none    &none   &none   &none   &kp LEFT_SHIFT    &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_GUI  &none   &none            &none
&none            &none    &none   &none   &none   &trans            &none         &none             &kp F12       &kp F9  &kp F8           &kp F7
&kp PRINTSCREEN  &kp F11  &kp F6  &kp F5  &kp F4  &none             &kp F10       &kp F3            &kp F2        &kp F1  &kp PAUSE_BREAK  &none
                                  &none   &none   &none             &none
            >;
        };

        layer2 {
            bindings = <
&none  &none      &none   &none      &none       &kp LEFT_SHIFT    &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_GUI   &none     &none       &none
&none  &none      &none   &trans     &none       &none             &none         &none             &none          &none     &none       &none
&none  &kp RIGHT  &kp UP  &kp DOWN   &kp LEFT    &kp CAPSLOCK      &kp END       &kp PAGE_UP       &kp PAGE_DOWN  &kp HOME  &kp INSERT  &kp BACKSPACE
                          &kp ENTER  &kp DELETE  &none             &none
            >;
        };

        layer3 {
            bindings = <
&kp LEFT_BRACKET  &kp N7           &kp N8         &kp N9            &kp RIGHT_BRACKET  &kp SINGLE_QUOTE    &kp N4  &kp N5  &kp N6  &kp EQUAL  &kp DOT  &kp N1
&kp N2            &kp N3           &kp BACKSLASH  &kp MINUS         &kp N0             &kp DOT             &none   &none   &none   &none      &none    &none
&none             &kp RIGHT_SHIFT  &kp LEFT_ALT   &kp LEFT_CONTROL  &kp RIGHT_GUI      &none               &none   &none   &none   &none      &none    &trans
                                                  &none             &none              &none               &none
            >;
        };

        layer4 {
            bindings = <
&mt LEFT_SHIFT LEFT_BRACKET  &mt LEFT_SHIFT N7  &mt LEFT_SHIFT N8         &mt LEFT_SHIFT N9     &mt LEFT_SHIFT RIGHT_BRACKET  &mt LEFT_SHIFT SEMICOLON    &mt LEFT_SHIFT N4  &mt LEFT_SHIFT N5  &mt LEFT_SHIFT N6  &mt LEFT_SHIFT EQUAL  &mt LEFT_SHIFT GRAVE  &mt LEFT_SHIFT N1
&mt LEFT_SHIFT N2            &mt LEFT_SHIFT N3  &mt LEFT_SHIFT BACKSLASH  &mt LEFT_SHIFT MINUS  &mt LEFT_SHIFT N0             &mt LEFT_SHIFT N9           &none              &none              &sys_reset         &none                 &none                 &none
&none                        &kp RIGHT_SHIFT    &kp LEFT_ALT              &kp LEFT_CONTROL      &kp RIGHT_GUI                 &none                       &none              &none              &none              &none                 &none                 &none
                                                                          &trans                &none                         &none                       &none
            >;
        };

        layer6 {
            bindings = <
&none  &none  &none  &none      &none  &none    &kp LEFT  &kp DOWN  &kp RIGHT  &none  &none  &none
&none  &none  &none  &kp UP     &none  &none    &none     &none     &to 0      &none  &none  &none
&none  &none  &none  &none      &none  &none    &none     &none     &none      &none  &none  &none
                     &kp ENTER  &none  &none    &none
            >;
        };

        layer7 {
            bindings = <
&none  &none       &none            &none             &none              &kp C_PREVIOUS    &kp C_VOLUME_DOWN  &kp C_MUTE  &kp C_VOLUME_UP  &kp C_NEXT  &none  &none
&none  &none       &none            &kp C_PLAY_PAUSE  &kp C_STOP         &trans            &none              &none       &none            &none       &none  &none
&none  &kp C_NEXT  &kp C_VOLUME_UP  &kp C_MUTE        &kp C_VOLUME_DOWN  &kp C_PREVIOUS    &none              &none       &none            &none       &none  &kp C_PLAY_PAUSE
                                    &kp C_STOP        &kp C_MUTE         &none             &none
            >;
        };
    };
};
